      <span style="float:left;color:green;width:40px"><%=resource.id %></span>
      <span style="float:left" title="<%=resource.command_name %>">
        <%=resource.command_name[0..80] %>
      </span>
      <div style="display:inline;float:right">
        <%=actions(resource) %>
        <span onclick="try_alert('<%=resource.response %>')">结果</span>
        <%=resource.human_state_name %>
      </div>
      <div style="clear:both" />

