      <span style="float:left;color:green;width:40px"><%=resource.id %></span>
      <span style="float:left" title="<%=resource.command_name %>">
        <%=resource.command_name[0..80] %>
      </span>
      <% if resource.response %>
      <span style="float:right;padding-left:4px" onclick="alert('<%=resource.response.split("\n").join('<br />') %>',10000)" title="点击查看详细结果">
        "<%=resource.response[0..5] %>"
      </span>
      <% end %>
      <span style="color:#901252;float:right">
        <%=resource.human_state_name %>
      </span>
      <span style="display:inline;float:right;padding:0 4px;color:grey">
        <%=time_ago_in_words resource.updated_at %>前
      </span>
      <div style="display:inline;float:right">
        <%=actions(resource) %>
      </div>
      <div style="clear:both" />

