<h2>
  操作模板
  <%=link_to "单击创建", new_app_operation_template_path(parent.id), :remote => true %>
  <%=link_to '刷新', app_operation_templates_path(parent.id), :remote => true %>
</h2>
<ul class="list">
<% parent.operation_templates.each{|template|%>
  <li>
      <span style="float:left"><%=template.name %></span>
      <span style="float:right">
        <a href="javascript:
          var form = document.forms['execute_form'];
          form.action='<%=execute_app_operation_template_path(parent.id,template.id) %>';
          $(form).trigger('submit.rails');void 0;">选中执行</a>
        <%=link_to "分组执行", group_form_app_operation_template_path(parent.id,template.id), :remote => true %>
        <%=link_to "修改", edit_app_operation_template_path(parent.id,template.id), :remote => true %>
        <%=link_to "删除", app_operation_template_path(parent.id,template.id), :remote => true,:method => :delete, :confirm => "确实要删除吗？" %>
      </span>
      <div style="clear:both" />
  </li>
<% }%>
</ul>

