<div class="title">
  操作模板
  <%=link_to "单击创建", new_app_operation_template_path(parent.id), :remote => true %>
</div>
<ul class="list">
<% parent.operation_templates.each{|template|%>
  <li>
      <span style="float:left"><%=template.name %></span>
      <span style="float:right">
        <%=link_to "选中执行", execute_app_operation_template_path(parent.id,template.id), :remote => true,:method=> :post %>
        <%=link_to "分组执行", group_execute_app_operation_template_path(parent.id,template.id), :remote => true,:method=> :post %>
        <%=link_to "修改", edit_app_operation_template_path(parent.id,template.id), :remote => true %>
        <%=link_to "删除", app_operation_template_path(parent.id,template.id), :remote => true,:method => :delete, :confirm => "确实要删除吗？" %>
      </span>
    <div style="clear:both">
    </div>
  </li>
<% }%>
</ul>

