<%- form_for("#{resource_instance_name.to_s.downcase}",
      resource,
      :url => resource.new_record? ? collection_url : resource_url(resource),
      :html => { :method => (resource.new_record? ? "post" : "put") },
      :remote => true) do|f| %>
<%=f.hidden_field :app_id, :value => params[:app_id] %>
<fieldset style="margin:30px">
  <legend style="text-align:right;background-color:white;font-weight:bolder">
      <%=resource.new_record? ? "新增" : "修改"%>操作模板
  </legend>
  <div class="errors" style="padding:8px"></div>
  <div style="margin:auto;padding:4px 20px">
    <div style="padding:8px">
      <h4 style="display:inline"><%=resource_class.human_attribute_name :name %>:</h4>
      <%=resource.new_record? ? f.text_field(:name) : resource.name %>
    </div>
    <div id="source">
      <h4 style="margin:0;text-align:center">原子指令列表</h4>
      <div id="groups">
      <% DirectiveGroup.find_each do |d_group| %>
        <h3 id="directive_group_<%=d_group.id %>">
          <%=link_to( d_group.name,items_directive_group_path(d_group.id), :remote => true) %>
        </h3>
        <ul class="list"></ul>
      <% end %>
      </div>
    </div>
    <div id="selected_source" class="ui-widget-content ui-state-default">
	    <h4 class="ui-widget-header">已选择的指令</h4>
	      <ul class="list">
	      <% resource.directive_templates do |d_template,checked| %>
	      <li class="draggable">
	        <input type="hidden" 
	          name="operation_template[source_ids][]" 
	          value="<%="#{d_template.id}|#{checked}" %>" />
          <%=d_template.alias || d_template.name %>
        </li>
	      <% end %>
	      </ul>
    </div>
    <div style="clear:both"><%=f.submit '提交' %></div>
  </div>
</fieldset>
<% end %>
<script type="text/javascript">
$( "#groups" ).accordion({
  active:false,
  change: function(event, ui){
    var newHeader = ui.newHeader;
    $(newHeader).next().attr("style","");
    $(newHeader).next().find("li").draggable({
      containment: 'document', appendTo: 'body', helper:'clone'
    });
  }
});
$( "#selected_source" ).droppable({
  accept: "#groups ul li",
	activeClass: "ui-state-hover",
	hoverClass: "ui-state-active",
	drop: function( event, ui ) {
		var list = $( this )
			.find( "ul" );
	  var fragment = "<li class='draggable'>" + 
	    ui.draggable.html() + 
	    '<input type="hidden" value="' + 
	      ui.draggable.attr("value") + 
	    '|false" name="operation_template[source_ids][]">'
	  "</li>";
		list.append(fragment);	
	}
});
$("#selected_source ul").sortable();
</script>
