<div id="navleft">
  <%= form_for :operations, :remote => true do |f| %>
  <div id="machines">
    <div class="title">服务器列表，共<%=app.machines.count %>台</div>
    <ul class="list">
    <% app.machines.each{|machine|%>
      <li><label>
        <input type="checkbox" name="machine_ids[]" value="<%=machine.id %>">
        <%=machine.name %>
      </label></li>
    <% }%>
    </ul>
  </div>
  <div id="operation_templates">
    <%=render "/operation_templates/collection", :parent => app %>
  </div>
  <%end%>
</div>
<div id="zone">
  <div id="operations">
    <%=render "/operations/collection", :parent => app %>
  </div>
</div>
