<div id="navleft">
  <div id="machines">
    本应用涉及<%=app.machines.count %>台服务器:
    <ul>
    <% app.machines.each{|machine|%>
    <li><%=machine.name %></li>
    <% }%>
    </ul>
  </div>
  <div id="operation_templates">
    本应用包括<%=app.operation_templates.count %>个操作模板：
    <ul>
    <% app.operation_templates.each{|template|%>
    <li><%=template.name %></li>
    <% }%>
    </ul>
  </div>
</div>
<div id="zone">
  <div id="operations">
    当前正在运行的操作:
    <ul>
    <% app.operations.each{|operation|%>
    <li><%=operation.name %></li>
    <% }%>
    </ul>
  </div>
</div>
