<div id="navleft">
  <div id="app_settings">
    <h2>应用设置</h2>
    <ul class="list">
      <li><%=link_to '管理软件包', app_softwares_path(app), :remote => true %></li>
      <li>
        更新配置参数:
        <% app.envs.each do |env|
          if current_user.is_pe?(app) || env.name != 'online' %>
          <%=link_to env.name, edit_app_env_path(app,env.name), :target => 'blank' %>
          <% end
        end %>
      </li>
    </ul>
  </div>
  
  <%= form_for( :operation_templates,
      :url => '#',
      :remote => true,
      :html => { :name => 'execute_form', :method => "post" }
      ) do|f| %>
  <div id="machines">
    <%=render "/machines/collection", :app => app %>  </div>
  <div id="operation_templates">
    <%=render "/operation_templates/collection", :parent => app %>
  </div>
  <% end%>
</div>
<div id="zone">
  <%=render "/operations/collection", :parent => app %>
</div>
