<!DOCTYPE html>
<html>
<head>
  <title>Apposs</title>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>
<div id="north">
  <div id="welcome_info">
    <%= current_user.email %>，欢迎使用淘宝运维系统！<%= link_to "退出", destroy_user_session_path %>
  </div>
  <span id="notice"><%= flash[:notice] %></span>
</div>
<%= yield %>
</body>
</html>
